html {
  background-color: slategray;
  display: flex;
  justify-content: center;
  padding: 0;
  height: 100vh;
}

body {
  background: skyblue;
  color: darkslategray;
  padding: 25px;
  font-family: Verdana, sans-serif;
  text-align: center;
  max-width: 1200px;
  margin: 10px 0 0 0;
  height: 95vh;
  box-shadow: 1px 1px 4px black;
  border-radius: 10px;
  padding-bottom: 0%;
}

select {
  font: inherit;
  text-align: center;
  background-color: white;
  margin-left: 10px;
  border-radius: 10px;
  display: inline;
  padding: 0px 0 2px 0;
}

select::after {
  font-size: x-large;
}

option {
  font-size: small;
}

.instructions {
  margin: 50px 0 40px 0;
}

.outer-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18em;
  width: 18em;
  background: #7c3aed;
  border-radius: 100%;
  border: #2e1065 2px solid;
   
}

.inner-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  width: 6rem;
  background: #FFFFFF90;
  border-radius: 100%;
  transition: height width;
  transition-duration: 4000ms;
  transition-timing-function: linear;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  height: 6rem;
  width: 6rem;
  background: #6366f1;
  border-radius: 100%;
  border: #2e1065 2px solid;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.5);
}

.counter:active {
  padding-top: 4px;
  background: green;
  box-shadow: none;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

footer {
  margin-top: 125px;
}

#restart {
  color: white;
  background-color: #2e1065;
  justify-self: center;
  width: fit-content;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #7c3aed;
  box-shadow: 0px 0px 2px black;
}

#restart:hover {
  background-color: #7c3aed;
  border: 2px solid #2e1065
}

#breathing-exercise-selector {
  background-color: gainsboro;
  font-weight: bold;
  color: darkslategray;
}

.mobile-icons {
  display: none;
}

@media screen and (max-width: 430px) {

  h1 {
    font-size: 25px;
  }

  .mobile-icons {
    display: block;
    font-size: 30px;
    line-height: 0%;
    margin: 30px 0;
  }

  .wide-icons {
    display: none;
  }

  .instructions {
    margin: 40px;
  }

  body {
    margin: 0;
    height: 100%;
    border-radius: 0;
  }
  
  footer {
    margin-top: 3em;
  }

}